:root {
    --color-one: #121214;
    --color-two: #202024;
    --color-three: #2D264A;
    --color-four: #996DFF;
    --font-mao: 'Fasthand', cursive;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    background-image: url(./img/fundo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 30px;
}

img {
    border-radius: 100%;
    border: 6px solid var(--color-two);
    transition-duration: 2s;
}


h1 {
    /* color: var(--color-two); */
    color: white;
    font-weight: bold;
    transition-duration: 2s;
    font-size: 48px;
    font-family: var(--font-mao);
}

main {
    margin-top: 100px;
    display: flex;
    /* margin-left: 5%; */
    gap: 5%;
}

a {
    /* margin-right: 5%; */
    width: 30%;
    height: 70px;
    text-align: center;
    font-weight: bolder;
    font-size: 22px;
    background-color: #996dff65;
    border-radius: 25px;
}



p {
    margin-top: 20px;
}

#escola {
    font-size: 22px;

}

a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

footer {
    position: absolute;
    bottom: 0;
    color: white;

}

footer>p {
    font-size: 20px;
    font-family: var(--font-mao);
}

@media screen and (max-width: 800px) {
    body {
        padding-bottom: 50px;
    }

    main {
        display: flex;
        margin-bottom: 50px;
        flex-direction: column;
    }

    a {
        height: 60px;
        text-align: center;
        font-weight: bolder;
        font-size: 22px;
        background-color: #996dff65;
        border-radius: 25px;
        width: 75%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    
    p {
        margin-top: 10px;
    }

    footer {
        top: 0;
    }
}