:root {
    --color-one: #121214;
    --color-two: #202024;
    --color-three: #2D264A;
    --color-four: #996DFF;
    --font-mao: 'Fasthand', cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    background-image: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 70px;
    padding-top: 30px;
    height: auto;
}

h1 {
    color: white;
    font-weight: bold;
    transition-duration: 2s;
    font-size: 48px;
    font-family: var(--font-mao);
    margin-bottom: 15px;
}

main {
    display: flex;
    gap: 15%;
}

div {
    /* margin: auto; */
    height: auto;
    width: 60vw;
    font-size: 20px;

    padding-top: 10px;
    border-radius: 20px;
    text-align: justify;
    background: linear-gradient(to bottom, var(--color-two), var(--color-three));
    /* color: var(--color-two); */
    color: lightgrey;
    padding-left: 20px;
    padding-bottom: 15px;
}

p {
    text-align: center;
    margin-bottom: 10px;
}

ul, li {
    margin-top: 10px;
}

#red section.s,
#yellow section.s {
    padding-bottom: 5px;
    border-bottom: 5px solid #133950;
}


li {
    list-style: none;
    font-size: 18px;
}

p {
    font-size: 24px;
    color: white;
}

a {
    position: absolute;
    top: 50px;
    margin: auto;
    background: none;
    color: white;
    text-decoration: none;
}

a>button {
    background: none;
}

a>button>span {
    background-color: black;
    color: white;
}

footer {
    position: absolute;
    bottom: -60px;
    color: white;
}

@media screen and (max-width: 800px) {
    body {
        padding-bottom: 50px;
    }

    a {
        top: 5px;
    }

    main {
        display: block;
    }

    section {
        padding-bottom: 10px;
        padding-top: 10px;
    }

    div {
        width: auto;
        height: auto;
        margin: auto;
        margin-bottom: 20px;
    }

    footer {
        display: none;
    }
}